spring:
#  data:
#    mongodb:
#      uri: mongodb://localhost:27017/smart-itinerary-planner
#  redis:
#    host: localhost
#    port: 6379
  devtools:
    restart:
      enabled: true

itinerary:
  async:
    corePoolSize: 5
    maxPoolSize: 10
    queueCapacity: 50
    timeLimitScheduler:
      corePoolSize: 4

logging:
  level:
    com:
      codrshi:
        smart_itinerary_planner: DEBUG
    org:
      springframework:
        security: DEBUG
        web: DEBUG
        boot: DEBUG
        data: DEBUG
  pattern:
    console: "%cyan(%d{HH:mm:ss}) %highlight([%thread]) %highlight(%-5level) %green(%logger{36}) %magenta([%X{X-Trace-Id}]) - %msg%n"